ul.list-group
  li.list-group-item.active(aria-current='true') Users menu
  li.list-group-item 
    a(href='/users') List user
  li.list-group-item
    a(href='/users/add') Add new user
  li.list-group-item
    a(href='/') Home