extends ../layout/users-layout.pug

block titleBreakcum
  .col-sm-6
    h1 Add new user 
  .col-sm-6
    ol.breadcrumb.float-sm-end
      li.breadcrumb-item
        a(href="/") Home
      li.breadcrumb-item.active 
        a(href="/users") Users
      li.breadcrumb-item.active Add

block user
  - var method = "post"
  include _form.pug