extends ../layout/users-layout.pug

block css
  link(href='/css/user.css', rel='stylesheet')

block scripts
  script(src='./js/users.js')

block titleBreakcum
  .col-sm-6
    h1 List user
  .col-sm-6
    ol.breadcrumb.float-sm-end
      li.breadcrumb-item
        a(href="/") Home
      li.breadcrumb-item.active Users

block user
  table.table.table-bordered#table-users
    thead
      tr
        th(scope="col") #
        th(scope="col") Name
        th(scope="col") Avata
        th(scope="col") Register date
        th(scope="col") Actions
    tbody
      each rc in records
        tr
          th(scope="row")= rc['id']
          td!= 'Name: '+ rc['name'] + '<br> ('+rc['email']+')'
          td
            img(src= checkFileExisting(avataUrl+rc['avata'])? avataUrl+rc['avata']: avataUrl+'no_picture.png')
          td= rc['createdAt']
          td 
            a(href='/users/'+rc['id']) View | 
            a(href='/users/update/'+rc['id']) Update | 
            a.del-user(href='/users/'+rc['id']) Delete

  nav(aria-label="Page navigation example")
    ul.pagination.justify-content-end
      li.page-item
        a.page-link(href="#") Previous
      li.page-item.active
        a.page-link(href="#") 1
      li.page-item
        a.page-link(href="#") 2
      li.page-item
        a.page-link(href="#") 3
      li.page-item
        a.page-link(href="#") Next

  .position-fixed.bottom-0.end-0.p-3(style="z-index: 11")
    div#liveToast.toast.hide(role="alert" aria-live="assertive" aria-atomic="true")
      .toast-header
        strong.me-auto Message
        button.btn-close(data-bs-dismiss="toast" aria-label="Close" type="button")
      div.toast-body#toast-message
