extends ../layout/users-layout.pug

block css
  link(href='/css/user.css', rel='stylesheet')

block titleBreakcum
  .col-sm-6
    h1= "Detail user "+record['name'] 
  .col-sm-6
    ol.breadcrumb.float-sm-end
      li.breadcrumb-item
        a(href="/") Home
      li.breadcrumb-item.active 
        a(href="/users") Users
      li.breadcrumb-item.active Detail

block user
  table.table.table-bordered
    thead
      tr
        th(scope="col") Field
        th(scope="col") Value
    tbody
      each v, k  in record['dataValues']
        tr
          th(scope="row")= k.charAt(0).toUpperCase()  + k.slice(1)
          td
            if k==='avata'
              img(src= avataUrl+v)
            else
              = v